.table {
    width: 83%;
    min-height: 450px;
    background-color: rgb(111, 97, 97);
    margin-top: 40px;
}

.table1,
.table2,
.table3 {
    background-color: rgb(91, 25, 25);
    width: 95%;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-size: 15px;
}

.orderList {
    display: flex;
    gap: 10;
    justify-content: space-around;
    margin: 10px;
}

.deleteBtn {
    background-color: red;
    color: white;
    padding: 5px 8px;
    font-weight: bold;
}